{% extends "layout.html" %}
{% block content %}
    <h2 style="text-align:center"><b>About</b></h2>
    <h4 style="text-align:center">
        VidStats is a program which interfaces with the Youtube and Twitch APIs in order to allow users obtain information and other
        statistics on Youtube and Twitch channels. 
    </h4>   
        <b>
        <h4>Program was built by: </h4>
        <ul>
          <li>Axel Irikungoma - <a href="axel.irikungoma@vaderbilt.edu">axel.irikungoma@vaderbilt.edu</a></li>
          <li>Christian Santana - <a href="christians1121@gmail.com">christians1121@gmail.com</a></li>
          <li>Lily Sam - <a href="los2119@columbia.edu">los2119@columbia.edu</a></li>
          <li>Rodrigo Morales - <a href="rodrigomv29@gmail.com">rodrigomv29@gmail.com</a></li>
        </ul>
{% endblock content %}