<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Channel name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Views</th>
      <th>Subscribers</th>
      <th>Number of Videos</th>
      <th>Creation date</th>
      <th>Photo url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>WWE</td>
      <td>WWE on YouTube is your number one spot to catch WWE original shows and exclusives!\n\nWatch videos from all of your favorite WWE Superstars, backstage fallout from live shows including Raw, SmackDown, NXT and original shows such as Top 10, List This, WWE's The Bump and much more! \n\nSubscribe - https://goo.gl/2YO0Is\n\nStream WWE on Peacock https://pck.tv/2PIAQJI in the U.S. and on WWE Network http://wwe.yt/wwenetwork everywhere else.\n</td>
      <td></td>
      <td>60541025374</td>
      <td>79300000</td>
      <td>55901</td>
      <td>2007-05-11T01:20:02Z</td>
      <td>https://yt3.ggpht.com/ytc/AKedOLSEQh59eslgI6GR2FnwAcGwDfO5680AKiWyxpu4vsA=s88-c-k-c0x00ffffff-no-rj</td>
    </tr>
  </tbody>
</table>