<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Channel name</th>
      <th>Description</th>
      <th>Country</th>
      <th>Views</th>
      <th>Subscribers</th>
      <th>Number of Videos</th>
      <th>Creation date</th>
      <th>Photo url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Mitten Squad</td>
      <td>Welcome to Mitten Squad! This channel features predominantly Fallout-related content, though videos about other games may appear from time to time. If you've ever thought "Could someone beat a Fallout game by doing something really stupid?", odds are you've come to the right place. \n\nDespite what the channel name may imply, it's only one person running this channel.\n\nComputer Specs:\nDon't you *ucking dare ask about it</td>
      <td>US</td>
      <td>292083368</td>
      <td>1190000</td>
      <td>609</td>
      <td>2013-04-14 03:46:10 UTC</td>
      <td>https://yt3.ggpht.com/ytc/AKedOLSXnBINuz_M9kTkBIoIE-kW4jZeZsbk15ZAG6v0Cg=s88-c-k-c0x00ffffff-no-rj</td>
    </tr>
  </tbody>
</table>