{% extends "layout.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
               <div class="alert alert-{{ category }}">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search Youtuber
                </legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.username.errors%}
                            <span>{{error}}</span>
                        {% endfor %}
                      </div>
                  {% else %}
                      {{ form.username(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
            </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
         </div>
        </form>
    </div>
    {% if not image=='' %}
    <img src= {{image}} alt="Red dot" />
    {% endif %}
    {% if not channel_name=='' %}
    <h2>{{ channel_name }}</h2>
    {% endif %}
    {% if not text=='' %}
    <span style="background-color: #327D52"><font color="white">Description: </font></span> <p>{{ text }}</p>
    {% endif %}
    {% if not date=='' %}
    <span style="background-color: #327D52"><font color="white"> Time of creation: </font></span><p>{{ date }}</p>
    {% endif %}
    {% if not country=='' %}
    <span style="background-color: #327D52"><font color="white"> Country of Origin: </font></span><p>{{ country }}</p>
    {% endif %}
    {% if not views=='' %}
    <span style="background-color: #327D52"><font color="white"> Number of views: </font></span><p>{{ views }}</p>
    {% endif %}
    {% if not subs=='' %}
    <span style="background-color: #327D52"><font color="white"> Number of subscribers: </font></span><p>{{ subs }}</p>
    {% endif %}
    {% if not numvids=='' %}
    <span style="background-color: #327D52"><font color="white"> Total Videos: </font></span><p>{{ numvids }}</p>
    {% endif %}
    {% if not vidurl=='' %}
    <span style="background-color: #327D52"><font color="white"> Sample Video of this channel: </font></span>
    <br>
    <br>
    <iframe width="560" height="315" src= {{vidurl}} frameborder="0" allowfullscreen></iframe>
    {% endif %}
{% endblock content %}